
	<div class="row">
		<div class="col-lg-12">
			<table>
				<tr>
					<td><div class="text-secondary">Environment: </div></td><td><input type="text" class="form-control" placeholder="Environment to deploy on" />
          </td></tr>
          <tr><td>
              <div class="text-secondary">Layer: </div>
              </td>
              <td>
              <label class="checkbox-inline"><input type="checkbox" value="">DB</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">IIB</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">WPS</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">WAS</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">BAM</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">WSRR</label>
              &nbsp;
              <label class="checkbox-inline"><input type="checkbox" value="">ODM</label>
              &nbsp;
          </td></tr>
          <tr><td><div class="text-secondary">Reason for Deployment: </div></td><td><textarea rows="4" cols="50"></textarea>
          </td></tr>
          <tr><td><div class="text-secondary">Affected Services: </div></td><td><div class="form-group">
            <label for="sel1"></label>
            <select multiple="" class="form-control" id="sel1">
              <option>Payment Settlement</option>
              <option>Refund Settlement</option>
              <option>Payment Upload</option>
              <option>Payment Load</option>
              <option>Refund Load</option>
            </select>
          </div>
          </td></tr>
          <tr><td><div class="text-secondary">Restart required: </div></td><td><div class="checkbox"><input type="checkbox" value=""></div></td></tr>
          <tr><td><div class="text-secondary">Release Notes Path: </div></td><td><textarea rows="4" cols="50"></textarea></td></tr>
          <tr><td><div class="text-secondary">Artifacts (JARs and EARs): </div></td><td><textarea rows="4" cols="50"></textarea></td></tr>
          <tr><td></td><td>
              <button type="button" class="btn btn-info" (click)="submit($event)">Submit</button></td>
				</tr>
      </table>
    </div>
  </div>
