<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#" [routerLink]="['/home']">Home, Welcome {{displayName}}</a></li>
          <!--li><a href="#">Main View</a></li-->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="sidebar-menu">
        <li class="active"></li>
        <li class="treeview">
          <a href="#" [routerLink]="['/new']">
            <i class="fa fa-dashboard"></i> <span>New Request</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <a href="#" [routerLink]="['/home']">
            <i class="fa fa-dashboard"></i> <span>Search Request</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <a href="#" [routerLink]="['/listAll']">
            <i class="fa fa-dashboard"></i> <span>List All</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 user-container">
      <h2 class="text-center">Create New Deployment Request </h2>
      <form [formGroup]="newForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="Environment">Environment:</label>
          <select formControlName="Environment" placeholder="Environment" name="Environment" class="form-control"
          [ngClass]="{'is-invalid': submitted && f.Environment.errors }"
            id="Environment">
            <option [value]="env" *ngFor="let env of environment">{{env}}</option>
          </select>
          <div *ngIf="submitted && f.Environment.errors" class="invalid-feedback">
            <div *ngIf="f.Environment.errors.required">Environment is required</div>
        </div>
        </div>

        <div class="form-group">
          <label for="Layers" class= "checkbox_space">Layers: </label>
          
          <label class="checkbox_space">
            <input type="checkbox" [(ngModel)]="WPS" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            WPS
          </label>

          <label class="checkbox_space">
            <input type="checkbox" [(ngModel)]="ODM" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            ODM
          </label>

          <label class="checkbox_space" >
            <input type="checkbox" [(ngModel)]="IIB" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            IIB
          </label>

          <label class="checkbox_space">
            <input type="checkbox" [(ngModel)]="WAS" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            WAS
          </label>

          <label class="checkbox_space"> 
            <input type="checkbox" [(ngModel)]="DP" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            DP
          </label>

          <label class="checkbox_space">
            <input type="checkbox" [(ngModel)]="DB" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            DB
          </label>
          <label class="checkbox_space">
            <input type="checkbox" [(ngModel)]="WSRR" data-md-icheck (change)="toggleVisibility($event)"
              [(ngModel)]="showMoreControls" [ngModelOptions]="{standalone: true}" />
            WSRR
          </label>
        </div>

        <div class="form-group">
          <label for="status">Status:</label>
          <input formControlName="status" name="status" class="form-control" id="status" >
        </div>

        
          

        <div class="form-group">
          <label for="defectId">defectId:</label>
          <input formControlName="defectId" name="defectId" class="form-control" [ngClass]="{'is-invalid': submitted && f.defectId.errors }" id="defectId">
          <div *ngIf="submitted && f.defectId.errors" class="invalid-feedback">
            <div *ngIf="f.defectId.errors.required">DefectId is required</div>
        </div>
        </div>

        <div class="form-group">
          <label for="assignOnGroup">AssignOn Group:</label>
          <input formControlName="assignOnGroup" name="assignOnGroup" class="form-control" id="assignOnGroup"
            readonly="true">
        </div>

        <div class="form-group">
          <label for="requestDate">Request Date: </label>
          <input formControlName="requestDate" name="requestDate" class="form-control" id="requestDate">
        </div>

        <div class="form-group">
          <label for="deploymentTime">Deployment Date: </label>
          <input formControlName="deploymentTime" name="deploymentTime" class="form-control" id="deploymentTime">
        </div>

        <div class="form-group">
          <label for="reason">Deployment Reason: </label>
          <input formControlName="reason" name="reason" class="form-control" [ngClass]="{'is-invalid': submitted && f.reason.errors }" id="reason">
          <div *ngIf="submitted && f.reason.errors" class="invalid-feedback">
            <div *ngIf="f.reason.errors.required">Deployment Reason is required</div>
        </div>
        </div>

        <div class="form-group">
          <label for="releaseNote">Release Note: </label>
          <input formControlName="releaseNote" name="releaseNote" class="form-control" [ngClass]="{'is-invalid': submitted && f.releaseNote.errors }" id="releaseNote">
          <div *ngIf="submitted && f.releaseNote.errors" class="invalid-feedback">
            <div *ngIf="f.releaseNote.errors.required">Release Note is required</div>
        </div>
        </div>

        <!--        <div class="form-group">
          <label for="affectedService">Affected Service:</label>
          <select formControlName="affectedService" placeholder="affectedService" name="affectedService"
            class="form-control" id="affectedService">
            <option [value]="service" *ngFor="let service of affectedService">{{service}}</option>
          </select>
        </div>
      -->
      
<div class="form-group" >
       <ng-multiselect-dropdown [ngClass]="{'is-invalid': submitted && f.affectedService.errors }"
       formControlName="affectedService"
          [placeholder]="'Affected Service'"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"
        >
        </ng-multiselect-dropdown>
      </div>
    <div *ngIf="submitted && f.affectedService.errors"  style="color:red">
        <div *ngIf="f.affectedService.errors.required">Affected Service is required</div>
    </div>
      

        <button class="btn btn-success">Send</button>
      </form>


    </div>