<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                    <li class="active"><a href="#" [routerLink]="['/home']">Home, Welcome {{displayName}}</a></li>
                    <!--li><a href="#">Main View</a></li-->

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-left">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <ul class="sidebar-menu">
                <li class="active"></li>
                <li class="treeview">
                    <a href="#" [routerLink]="['/new']">
                        <i class="fa fa-dashboard"></i> <span>New Request</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <a href="#" [routerLink]="['/home']">
                        <i class="fa fa-dashboard"></i> <span>Search Request</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <a href="#" [routerLink]="['/listAll']">
                        <i class="fa fa-dashboard"></i> <span>List All</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-6 user-container">
            <h2 class="text-center">Update Deployment Request </h2>
            <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <div class="hidden">
                    <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
                </div>


                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id"
                        readonly="true">
                </div>
            
                <div class="form-group">
                    <label for="id">Environment:</label>
                    <input type="text" formControlName="environemnt" placeholder="environemnt" name="environemnt" class="form-control"
                     id="environemnt"  readonly="true">
                </div>

                <div class="form-group">
                    <label for="id">Layer:</label>
                    <input type="text" formControlName="layer" placeholder="layer" name="layer" class="form-control"
                     id="layer"  readonly="true">
                </div>

                <div class="form-group">
                    <label for="currentStatus">Current Status:</label>
                    <input formControlName="currentStatus" placeholder="Current Status" name="currentStatus"
                        class="form-control" id="currentStatus" readonly="true">
                </div>

                <div class="form-group">
                    <label for="defectId">Defect ID:</label>
                    <input formControlName="defectId" placeholder="defectId" name="defectId"
                        class="form-control" id="defectId" readonly="true">
                </div>

                <div class="form-group">
                    <label for="assignOnGroup">AssignOn Group:</label>
                    <input formControlName="assignOnGroup" placeholder="assignOnGroup" name="assignOnGroup"
                        class="form-control" id="assignOnGroup" readonly="true">
                </div>

                <div class="form-group">
                    <label for="requestDate">Request Date:</label>
                    <input formControlName="requestDate" placeholder="requestDate" name="requestDate"
                        class="form-control" id="requestDate" readonly="true">
                </div>



                <div class="form-group">
                    <label for="deploymentTime">Deployment Time:</label>
                    <input formControlName="deploymentTime" placeholder="Deployment Time" name="deploymentTime"
                        class="form-control" id="deploymentTime">
                </div>

                <div class="form-group">
                    <label for="reason">Deployment Reason:</label>
                    <input formControlName="reason" placeholder="reason" name="reason"
                        class="form-control" id="reason" readonly="true">
                </div>

                <div class="form-group">
                    <label for="releaseNote">Release Note: </label>
                    <input formControlName="releaseNote" name="releaseNote" class="form-control" id="releaseNote" readonly="true">
                  </div>

                  <div class="form-group">
                    <label for="affectedService">Affected Service:</label>
                    <input formControlName="affectedService" name="affectedService" class="form-control" id="affectedService" readonly="true">
                  </div>

                <div class="form-group">
                    <label for="requestSubject">Version:</label>
                    <input formControlName="requestSubject" name="requestSubject"
                        class="form-control" id="requestSubject" [readonly]="this.isRequestSubjectDisabled">
                </div>

                <div class="form-group">
                    <label for="status">New Status:</label>
                    <select formControlName="status" placeholder="status"  name="status" class="form-control"
                        id="status">
                        <option [value]="Status.statusName" *ngFor="let Status of status">{{Status.statusName}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <table class="table" *ngIf="requestInfoArr?.length">
                        <thead>
                            <tr>
                                <th>Comment</th>
                                <th>By</th>
                                <th>At</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let reqInfo of requestInfoArr" style="margin-bottom: 10px;">
                                <td ><textarea class="form-control" style="width: 99%; height: 99%; border: none;" readonly>{{reqInfo.comment}}</textarea></td>
                                <td >{{reqInfo.displayName}}</td>
                                <td >{{reqInfo.time}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <label for="comment">New comment:</label>
                    <textarea formControlName="deploymentComment" placeholder="Deployment Comment" name="deploymentComment"
                        class="form-control" id="deploymentComment"></textarea>
                </div>

                <button class="btn btn-success">Update</button>
            </form>

        </div>